.item {
  position: relative;
  user-select: none;
  cursor: pointer;
  padding: 6px;

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__amount {
    text-align: end;
    position: absolute;
    bottom: -1px;
    right: 2px;
    z-index: 1;
  }

  &:hover > .tooltip {
    display: block;
  }

  .tooltip {
    z-index: 2;
    position: absolute;
    border: 3px solid #c6c6c6;
    padding: 0.4rem;
    border-radius: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    width: auto;
    text-align: center;
    display: none;
    pointer-events: none;
  }

  @media screen and (min-width: 650px) {
    font-size: 16px;
  }

  @media screen and (max-width: 650px) {
    font-size: 13px;
  }

  @media screen and (max-width: 500px) {
    font-size: 10px;
  }

  @media screen and (max-width: 400px) {
    font-size: 7px;
  }

  @media screen and (max-width: 250px) {
    font-size: 5px;
  }

}

.cdk-drag-dragging {
  z-index: 2;
  display: none;
}
